/* Add a black background color to the top navigation */
.header{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 25% auto;
    grid-column-gap:0.4rem ;
    margin-bottom:1rem;
    background-color:#04AA6D;
}
img.logo-header{
    --b: 5px;
    width: 280px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: .5s;
    padding-left: 3rem;
    background:
            radial-gradient(
                    circle closest-side,
                    #04AA6D calc(99% - var(--b)),
                    #0ff37d calc(100% - var(--b)) 99%,
                    #0000
            );

}

img.logo-header:hover {
    transform: scale(1.15);
}

img.title{
    width: auto;
}
main{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 20% auto;
    grid-column-gap:0.4rem ;
    margin-bottom:1rem;
}

aside{

    padding: 1rem;

}

div.content{
    background: darkkhaki;
    padding: 1.5rem;
    border: black solid 0.1rem;
}

div.content-bar{
    display: flex;
    flex-direction: column;
}

div.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:1rem;
    grid-row-gap: 0.8rem;
    border: black solid 0.1rem;

}

.card {
    /* Add shadows to create the "card" effect */

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 2.5rem;
    background: palegoldenrod;
    border: #04AA6D ridge 0.4rem;
}
img.image-card{
    border-radius: 2.5rem;
}

div.buttons{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer{
    background: blanchedalmond;
    padding: 5rem;
    text-align: center;
}

