.header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% auto;
  grid-column-gap: 0.4rem;
  margin-bottom: 1rem;
  background-color: #04AA6D;
  border: #025939 solid;
}

img.logo-header {
  max-width: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 3rem;
}

img.logo-header:hover {
  transform: scale(1.15);
}

img.title {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 20% auto;
  grid-column-gap: 0.4rem;
  margin-bottom: 1rem;
}

aside {
  padding: 1rem;
}

div.search-icon {
  display: flex;
  justify-content: space-around;
}

img.icon {
  max-width: 100%;
  align-items: center;
}

.spin {
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.search-input-control {
  align-items: center;
  position: relative;
  margin: 2rem 0 2rem;
  max-width: 100%;
}

.search-input-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem #020202 solid;
  display: block;
  max-width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
}

.search-input-control input:focus,
.search-input-control input:valid {
  outline: 0;
  border-bottom-color: #04AA6D;
}

.search-input-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.search-input-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #020202;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-input-control input:focus + label span,
.search-input-control input:valid + label span {
  color: #04AA6D;
  transform: translateY(-30px);
}

button.search-button,
button.search-button::after {
  padding: 16px 20px;
  font-size: 100%;
  background: linear-gradient(45deg, transparent 5%, #04AA6D 5%);
  border: 0;
  color: #000000;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px palegoldenrod;
  outline: transparent;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.search-button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Find Me";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #0c3b29 3%, #025939 5%, #04AA6D 5%);
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button.search-button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
select {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  outline: none;
  border-color: #04AA6D;
}

select:hover {
  border-color: #04AA6D;
}

section.content {
  background: darkkhaki;
  padding: 1.5rem;
  border: black solid 0.1rem;
}

span.filter-letter {
  font-family: Impact;
  color: #04AA6D;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 100%;
}

div.content-bar {
  display: flex;
  flex-direction: column;
}

section.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 0.8rem;
  border: black solid 0.1rem;
}

.card {
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 2.5rem;
  background: palegoldenrod;
  border: #04AA6D ridge 0.4rem;
  transition: 0.5s;
  grid-template-areas: "img" "article";
}

img.image-card {
  grid-area: img;
  width: 100%;
  border-radius: 2.5rem;
}

.container {
  grid-area: article;
}

.card:hover {
  transform: scale(1.15);
}

div.buttons-prev-next {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

button.prev-button {
  background-color: darkkhaki;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fdea0c;
}

button.prev-button span {
  font-size: 5px;
}

button.next-button span {
  font-size: 5px;
}

button.next-button {
  background-color: darkkhaki;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 10px #fdea0c;
}

img.prev-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

img.next-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

footer {
  background: #04AA6D;
  padding: 5rem;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  section.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 0.8rem;
    border: black solid 0.1rem;
  }
}
@media only screen and (max-width: 500px) {
  main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-column-gap: 0.4rem;
    margin-bottom: 1rem;
  }
  aside {
    height: fit-content;
  }
  section.content {
    grid-template-columns: 1fr;
  }
  .search-input-control {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-input-control label {
    position: relative;
    top: 0.5rem;
    left: -11.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
